.pagination {
  margin: auto;

  &__list {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
  }

  &__item {
    text-decoration: none;
    padding: 0.5rem;
    border-bottom: 3px solid transparent;
    cursor: pointer;

    &:hover {
      border-bottom: 3px solid #9b9b9b;
    }

    &:hover a {
      color: #9b9b9b;
    }

    &:not(:last-child) {
      margin-right: 2rem;
    }

    a {
      color: #9b9b9b;
      font-size: 1.4rem;
      line-height: 1.6rem;
      text-decoration: none;
    }
  }
}

.active {
  a {
    color: #9b9b9b;
  }
}
