.sort {
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  padding: 0 2.7rem;
  padding-bottom: 2.4rem;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  margin-right: 1.6rem;

  &__header {
    color: #222d39;
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.4rem;
    margin-bottom: 1.4rem;
    margin-top: 2.4rem;
  }

  &__option {
    input {
      background: #4a4a4a;
    }

    span {
      color: #222d39;
      font-size: 1.6rem;
      line-height: 2.8rem;

      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }
  }
}
