@import "../../sass/base/variables";

.search-bar {
  background-color: $color-white;
  display: flex;
  align-items: center;
  padding: 1.5rem 1.9rem;
  border: 1px solid #b0b0b0;
  border-radius: 3.2rem;
  width: 48.5%;

  ::placeholder {
    color: #9b9b9b;
    opacity: 1;
  }

  input {
    border: none;
    font-family: inherit;
    color: #9b9b9b;
    width: 100%;

    &:focus,
    &:active {
      outline: none;
    }
  }

  &__icon {
    margin-right: 1.3rem;
    height: 1.749rem;
    width: auto;
  }
}
