@import "../../sass/base/variables";

.header {
  background-color: $color-grey;
  padding: 2.8rem 15.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    width: 11.7%;
    height: auto;
  }

  &__search {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }

  &__marks {
    display: flex;
    align-items: center;
  }

  &__mark {
    background: #d8d8d8;
    border-radius: 3.2rem;
    padding-top: 1.6rem;
    width: 17.6rem;
    margin-left: 1.6rem;
  }
}
